body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.top {
    background-image: url("https://www.vets4pets.com/siteassets/species/cat/two-cats-on-wall-in-sun.jpg");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot {
    background-image: url("https://www.meowbox.com/cdn/shop/articles/Screen_Shot_2024-03-15_at_10.53.41_AM.png?v=1710525250");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}